body{
    font-family: Arial;
    background:#f4f4f4;
    padding:20px;
}

.message{
    background:white;
    padding:10px;
    margin-bottom:10px;
    border-radius:5px;
}

textarea{
    width:300px;
    height:80px;
}
