
body{
    font-family: Arial;
    background:#f4f4f4;
    padding:20px;
}

.message{
    background:white;
    padding:10px;
    margin-bottom:10px;
    border-radius:5px;
}

textarea{
    width:300px;
    height:80px;
}

.menu {
    background: #222;
    color: white;
    padding: 10px;
}
.menu a {
    color: white;
    margin-right: 15px;
}
nav{
    background:#0078d7;
    color:white;
    padding:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:0 2px 4px rgba(0,0,0,0.2);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
}
body{padding-top:60px;}

nav a{
    color:white;
    text-decoration:none;
    margin:0 20px;
    font-weight:bold;
    transition:0.3s;
}
nav a:hover{
    text-decoration:underline;
}
